<main>
    <div class="image-card">
        
        <img src='{{dataCard.image}}' loading="lazy" alt="">
    </div>
    <div class="info-card">
        <h1 class="title">
           {{dataCard.namePlace}}
        </h1>
        <p class="details">
            Duración: {{dataCard.duration}} <br>
            Inicio : {{dataCard.hour}}
        </p>
        <span class="price">
            S/ {{dataCard.price}}
        </span>
        <button class="btn-card">
            + Mas detalles
        </button>
        
    </div>
</main>