main{
    width: 350px;
    @apply bg-slate-950 p-3  text-white  px-5 py-4;
}

main.isLight{
    box-shadow: black 0px 0px 10px 0px;
    @apply bg-white text-gray-700;

    span{
        border-bottom: 1px dashed rgb(91, 91, 91);
    
    }
}
svg{
    @apply w-5;
}
span{
    border-bottom: 1px dashed white;
}