section {
    display: grid;
   @apply w-full text-white bg-slate-950 px-4 py-6 grid-cols-2 gap-6; /* Definir grid con 4 columnas */
}

.icons{
    margin-top: 20px  ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.details-luxury{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
}
.item-details{
    column-span: 1/2fr;
    @apply flex w-60 justify-center items-center;
    p{
        // @apply 
    }
}
.info-luxury{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-left: 2px solid rgb(51, 51, 51);
    padding-left: 10px;
}

.info-item{
    @apply flex items-center gap-2;
}

.others {
    // background: white;
    @apply col-span-4 w-full flex justify-center gap-4; 

    app-button{
        @apply bg-slate-900 rounded-lg;
    }
}


// .details-luxury span {
//     @apply flex items-center bg-slate-800 p-2 rounded-lg max-lg:flex-col;
// }

// .pay-methods .item {
    //     @apply bg-slate-800 rounded-lg p-2;
    // }
    
    
    // .details-luxury {
    //     @apply col-span-4 flex gap-4 font-extrabold text-white items-center justify-between max-lg:flex-col; 
    // }
    
    // .pay-methods {
    //     // background: rgb(255, 181, 181);
    //     @apply col-span-1 flex gap-2 max-lg:flex-col; 
    // }
    
    // .info {
    //     // background: white;
    //     @apply col-span-3 flex text-white gap-2 justify-end  max-lg:flex-col;
    
    //     .info-item{
    //         // width: 250px;
    //        @apply flex bg-slate-800 p-2 rounded-lg ; 
    //     }
    // }