
header{
    border-bottom: 2px  red;
    @apply w-full flex  p-3 justify-center
}

header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    // bottom: 0;
    height: 1px; 
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(238, 26, 2) 60%, rgba(0,0,0,1) 100%);
}
// .logo{
//     @apply flex 
// }
img {
    @apply rounded-full w-10
}
h1{
    font-size: 25px;
    @apply text-red-600  font-extrabold
}
.navbar{
    @apply  flex gap-4
}