<!-- <div class="content">
   <div class="logo">
        <img src="./assets/luxury.jpg" alt="">
        <h1>LUXURY TRAVELS</h1>
   </div>
   <nav class="div-group">
        <div class="info">
            
            <div class="addres">
                <span>Direccion : <br>
                    Jr. 9 de diciembre #115 - Ayacucho - Perú
                </span>
            </div>
            <div class="phone">
                <span>Teléfono : <br>
                    966 797 533 - 919 012 505
                </span>
            </div>
            <div class="email">
                <span>Correo : <br>
                   <a  class="text-red-400" href="mailto:ventas@luxurytravel.pe">ventasluxurytravel.pe</a>
                </span>
            </div>
            <button class=" px-2 rounded-lg bg-primary flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 256 256"><path fill="#ffffff" d="M154.34 101.66a8 8 0 0 1 0-11.32L188.69 56H168a8 8 0 0 1 0-16h40a8 8 0 0 1 8 8v40a8 8 0 0 1-16 0V67.31l-34.34 34.35a8 8 0 0 1-11.32 0m68 56.8l-47.11-21.11l-.13-.06a16 16 0 0 0-15.17 1.4a8.12 8.12 0 0 0-.75.56L134.87 160c-15.42-7.49-31.34-23.29-38.83-38.51l20.78-24.71c.2-.25.39-.5.57-.77a16 16 0 0 0 1.32-15.06v-.12L97.54 33.64a16 16 0 0 0-16.62-9.52A56.26 56.26 0 0 0 32 80c0 79.4 64.6 144 144 144a56.26 56.26 0 0 0 55.88-48.92a16 16 0 0 0-9.51-16.62Z"/></svg>
                Llamar
            </button>
        </div>
        <div class="button-group">
            <button class="button-nav">
                Inicio
            </button>
            <button class="button-nav">
                Quienes somos
            </button>
            <button class="button-nav">
                Tours Diarios
            </button>
            <button class="button-nav">
                Paquetes Ayacucho
            </button>
            <button class="button-nav">
                Vuelos
            </button>
            <button class="button-nav">
                Políticas y Condiciones
            </button>
            <button class="button-nav">
                Contáctenos
            </button>
           
        </div>
    </nav>
    
</div> -->

<header>
    <div class="navbar">
        <img src="./assets/luxury.jpg" loading="lazy"  alt="luxury logo">
        <h1>LUXURY TRAVEL</h1>
        <app-button [text]="'Inicio'" ></app-button>
        <app-button [text]="'Quienes somos'" ></app-button>
        <app-button [text]="'Tours Diarios'"  btnClass="btn btn-drop"  [options]='tours'></app-button>
        <app-button [text]="'Paquetes Ayacucho'"  btnClass="btn btn-drop"  [options]='paquetes' ></app-button>
        <app-button btnClass="btn btn-icon btn-drop"   [text]="'Vuelos'" [options]='vuelos'  [icon]="'./assets/avion.svg'"></app-button>
        <app-button [text]="'Políticas y Condiciones'" ></app-button>
        <app-button btnClass="btn btn-icon"  [icon]="'./assets/phone.svg'" [text]="'Contáctenos'" ></app-button>
    </div>

</header>