section {
    display: grid;
   @apply w-full text-white bg-slate-950 px-4 py-6 grid-cols-2 gap-6; /* Definir grid con 4 columnas */
}

.icons{
    margin-top: 20px  ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.details-luxury{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
}
.item-details{
    column-span: 1/2fr;
    @apply flex w-60 justify-center items-center;
    p{
        // @apply 
    }
}
.info-luxury{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   
    padding-left: 10px;
}
.others-i{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    place-content: center;
    justify-content: center;
    @apply gap-2;
    img{
        
        @apply bg-slate-900 rounded-lg p-3 place-items-center h-24;
    }

}

.info-item{
    @apply flex items-center gap-2;
}

.others {
    // background: white;
    @apply col-span-4 w-full flex justify-center gap-4; 

    app-button{
        @apply bg-slate-900 rounded-lg;
    }
}
