.btn{
    @apply text-white  rounded-lg p-2 flex gap-1 justify-center items-center;
    
    &:hover{  
        @apply bg-gray-800
    }
    img{
        @apply w-5
    }
}

.drop-menu {
    
    @apply  absolute flex flex-col
    justify-start items-start
     z-50 top-14 bg-slate-700 py-3 rounded-lg;
}

.drop-menu a {
    @apply  text-white block px-4 py-2
    w-full flex justify-start
     hover:bg-slate-800;
}

.drop-menu::after {
    content: '';
    position: absolute;
    top: -18px; /* Posicionamos el pseudo-elemento debajo del menú desplegable */
    left: 50%; /* Centramos el pseudo-elemento horizontalmente */
    transform: translateX(-50%);
    border: 10px solid transparent; /* Tamaño del triángulo */
    @apply border-b-slate-700
}