<!-- <button class="btn">
    {{ text }}
</button>
<button class="btn btn-icon">
    {{ text }}
</button> -->

<button [class]="btnClass"  (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
    @if (btnClass.includes('btn-icon')  ) {
        <ng-container>
            <img [src]="icon" class="icon">
        </ng-container>
    }
    {{ text }}
    @if (btnClass.includes('btn-drop') && isHovered || isMenuHovered  ) {
        <ng-container>
            <div class="drop-menu">
               @for (item of options; track $index) {
                <a href="#" class="dropdown-item">{{item}}</a>
               }
            </div>
        </ng-container>
    }

</button>

