<main>
    <div class="text">
        <h1 class="text-primary font-extrabold text-2xl">Politicas y condiciones</h1>
        <h1 class="text-primary font-extrabold">Estimados señores</h1>
        <p class="text-gray-400">
            Por medio de la presente, es grato saludarlos y a la vez brindarles nuestro tarifario de los PAQUETES TURISTICOS EN AYACUCHO 2022, deseándoles brindar un excelente servicio y la mejor estadía a tus clientes, detallamos toda la información. Tarifas por persona en Soles. no incluyen IGV. Asimismo, comunicarles que nuestras tarifas de PAQUETES son válidas todo el año (excepto Semana Santa). Tarifas aplican para nacionales y extranjeros. 
        </p>

       <div class="minicard">
        <h2 class="text-yellow-400 font-semibold text-l" >Cotización:</h2>    
        <p class="block text-gray-400 ">
            <div class="check">></div> para brindar una mejor respuesta solicitamos las siguientes informaciones:
            <div class="check">></div> Nombre de la ruta o el servicio que desee cotizar.
            <div class="check">></div> Número de personas.
            <div class="check">></div> Si en el grupo hay niños a adultos mayores.
            <div class="check">></div>Número de días de estadía.
        
       </div>

        <div class="minicard">
            <h2 class="text-yellow-400 font-semibold text-l"> Políticas de reserva:</h2>    
        <p class="text-gray-400">
       
            > Las reservas pueden realizarse con anticipación hasta 2 días antes según disponibilidad de habitaciones, en tours desglosado hasta 24 hrs antes (excepto feriados largos).
            > Confirmar lo acordado al e-mail o WhatsApp. 966 797533
            > Nombres y apellidos completos, cantidad de personas, fecha de viaje.
            > Teléfono de contacto.
        </p>
        </div>

        <div class="minicard">
            <h2 class="text-yellow-400 font-semibold text-l" >Políticas de pagos:</h2>    
        <p class="text-gray-400">
            
            > Efectuar el 50% del pago total del servicio.
            > Enviar el comprobante al e-mail o WhatsApp.
        </p>
        </div>

        <div class="minicard">
            <h2 class="text-yellow-400 font-semibold text-l" >Anulacion y Reembolso:</h2>    
        <p class="text-gray-400">
            
            > Toda anulación deberá hacerse por escrito con un tiempo de anticipación no menor de 48hrs de lo contrario la anulación no será aceptada.
            > El rembolso se tramita por escrito, no habrá rembolsos por NO SHOW de los pasajeros,

        </p>
        </div>
        <div class="minicard">
            <h2 class="text-yellow-400 font-semibold text-l" >Condiciones generales:</h2>    
        <p class="text-gray-400">
            
            > Todos nuestros tours incluyen recojo del hotel.
            > Servicio compartido guía en español.
            > Sujetas a cambio sin previo aviso, variación por factores climatológicos y/o huelgas.
            > Tarifas Válidas todo el Año 2022.
        </p>
        </div>

        <div class="minicard">
            <h2 class="text-yellow-400 font-semibold text-l" >Niños:</h2>    
        <p class="text-gray-400">
        
        > Inf (hasta 5 años) no paga y comparte servicio completo con los padres (máximo 1 niño)
        > De 6 años hasta 9 años son considerados niños con derecho a servicios, paga tarifa CHD. > De 10 años a más pagan tarifa de adultos.
        </p>
        </div>

    </div>
</main>