

<header>
    <div class="navbar">
        <img src="./assets/luxury.jpg" loading="lazy"  alt="luxury logo">
        <h1>LUXURY TRAVEL</h1>
        <app-button class= "menu" btnClass=" btn icon" [text]="''">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#eab308" d="M4 18q-.425 0-.712-.288T3 17q0-.425.288-.712T4 16h16q.425 0 .713.288T21 17q0 .425-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12q0-.425.288-.712T4 11h16q.425 0 .713.288T21 12q0 .425-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7q0-.425.288-.712T4 6h16q.425 0 .713.288T21 7q0 .425-.288.713T20 8z"/></svg>     
        </app-button>
      
        <app-button class="option" [text]="'Inicio'" [routerLink]="['']"  ></app-button>
        <app-button class="option" [text]="'Quienes somos'"  [routerLink]="['somos']" ></app-button>
        <app-button class="option" [text]="'Tours Diarios'"  btnClass="btn btn-drop"  [options]='tours'></app-button>
        <app-button class="option" [text]="'Paquetes Ayacucho'"  btnClass="btn btn-drop"  [options]='paquetes' ></app-button>
        <app-button class="option" btnClass="btn btn-icon btn-drop"   [text]="'Vuelos'" [options]='vuelos'  [icon]="'./assets/avion.svg'"></app-button>
        <app-button class="option" [text]="'Políticas y Condiciones'"  [routerLink]="'politicas'" ></app-button>
        <app-button class="option" btnClass="btn btn-icon"  [icon]="'./assets/phone.svg'" [text]="'Contáctenos'" ></app-button>
       
    </div>

</header>