main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.back{
    @apply animate-bounce w-6 h-6 bg-slate-800 w-auto h-auto rounded-full fixed right-3 bottom-3
}


 
.group-btn{
    @apply bg-slate-800 fixed right-1  top-20 rounded-lg p-2 z-50;
}