.content{

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    @apply p-2 ;
}
.text{
    // border: 1px solid rgb(255, 255, 31);
    // box-shadow:0px 0px 10px 10px rgb(233, 233, 87, 0.2);
    @apply text-white flex flex-col gap-4 max-w-96 bg-slate-800 p-2 rounded-md; 
}

.valores{
    @apply text-gray-400 max-w-96 bg-slate-800 p-2 rounded-md;
}

li{
    @apply flex;
}
.check{
    @apply text-yellow-300 font-extrabold mr-1;
}

.mini-card{
    @apply   text-gray-400 max-w-96 bg-slate-800 p-2 rounded-md;
    
}