<!-- <div class="content">
   
    <div class="text">
        <h1 class="text-primary font-semibold text-xl" >Quienes somos</h1>
        <p>
            <b>LUXURY TRAVEL PERÚ </b>, es una marca exclusiva  de la Agencia de Viajes 
            y Turismo
             <b> AYACUCHO LUXURY TRAVEL R.U.C. 20605053913 </b>, es Tour operador
             certificada, especializada en los destinos turísticos en la región de 
             Ayacucho y todo el Perú. 
        </p>
        <p>  
            Nuestro equipo está formado por profesionales turísticos capaces de dar una respuesta
            rápida a las necesicades del cliente.
        </p>
        <p>
             Estamos acreditados por Ministerio de Comercio Exterior y Turismo del PERÚ
             con todos los servcios turísticos en  el ámbito nacional e internacional.
        </p>
    </div>
    <div class="valores">
        <p>Dentro del aréa de turismo trabajamos paquetes Turísticos, tours diarios
            ,Excursiones, Viajes de promoción  pasantías , viajes ejecutivos,  ofrecemos transporte 
            turístico, reservas de hotelería, venta de boletos aéreo. <br>

            Estamos conectados con los sistemas computarizados de: AMADEUS, SABRE,
            KIU SYSTEM con estos sistemas te vendemos <b>pasajes aéreos</b> a nivel mundial, con un approximado de 
            110 líneas aéreas.
        </p>

        <h2 class="text-primary font-semibold text-xl" >Valores</h2>
        <ul>
            <li> <div class="check">></div> Amabilidad</li>
            <li><div class="check">></div> Calidad</li>
            <li> <div class="check">></div>Puntualidad</li>
            <li><div class="check">></div> Confiabilidad</li>
            <li><div class="check">></div> Trabajo en equipo</li>
            <li><div class="check">></div> Honestidad</li>
            <li> <div class="check">></div>Integridad y respeto</li>
            <li><div class="check">></div> Pasión y compromiso</li>
        </ul>
    </div>
    
</div> -->


<section>
    <div class="somos">
       <div class="text">
        <h1 class="text-primary font-semibold text-xl" >Quienes somos</h1>
        <p>
            <b>LUXURY TRAVEL PERÚ </b>, es una marca exclusiva  de la Agencia de Viajes 
            y Turismo
             <b> AYACUCHO LUXURY TRAVEL R.U.C. 20605053913 </b>, es Tour operador
             certificada, especializada en los destinos turísticos en la región de 
             Ayacucho y todo el Perú. 
        </p>
        <p>  
            Nuestro equipo está formado por profesionales turísticos capaces de dar una respuesta
            rápida a las necesicades del cliente.
        </p>
        <p>
             Estamos acreditados por Ministerio de Comercio Exterior y Turismo del PERÚ
             con todos los servcios turísticos en  el ámbito nacional e internacional.
        </p>
       </div>
       <img src="./assets/imagenes/quinua-full.webp" alt="">
    </div>
    
    <div class="somos valores">
        <!-- <img src="" alt="" > -->
        <img src="./assets/imagenes/quinua-full.webp" alt="">
        <div class="text">
            <p>Dentro del aréa de turismo trabajamos paquetes Turísticos, tours diarios
                ,Excursiones, Viajes de promoción  pasantías , viajes ejecutivos,  ofrecemos transporte 
                turístico, reservas de hotelería, venta de boletos aéreo. <br>
    
                Estamos conectados con los sistemas computarizados de: AMADEUS, SABRE,
                KIU SYSTEM con estos sistemas te vendemos <b>pasajes aéreos</b> a nivel mundial, con un approximado de 
                110 líneas aéreas.
            </p>
    
            <h2 class="text-primary font-semibold text-xl" >Valores</h2>
            <ul>
                <li> <div class="check">></div> Amabilidad</li>
                <li><div class="check">></div> Calidad</li>
                <li> <div class="check">></div>Puntualidad</li>
                <li><div class="check">></div> Confiabilidad</li>
                <li><div class="check">></div> Trabajo en equipo</li>
                <li><div class="check">></div> Honestidad</li>
                <li> <div class="check">></div>Integridad y respeto</li>
                <li><div class="check">></div> Pasión y compromiso</li>
            </ul>
        </div>
    </div>

    <div class="mision-vision">
        <div class="card">
            <h1  class="text-primary font-extrabold text-2xl">Nuestra Misión</h1>
            <p>Ofrecer un servicio de calidad a través de la buena atención
                de nuestro personal debidamente capacitado. diseñando viajes únicos
                a precios accesibles, logrando superar las expectativas de nuestros
                clientes.
            </p>
        </div>
        <div class="card">
            <h1 class="text-primary font-extrabold text-2xl">Nuestra Visión</h1>
            <p>
                Ser una Agencia de Viajes y Tour Operador, reconocida a nivel región
                y nacional por la confianza y seguridad  que le ofrecemos a nuestros clientes,
                presentando servcios innovadores , paquetes turísticos, asegurando la satisfación y expectativa
                de nuestros clientes.
            </p>
        </div>
    </div>
</section>