/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    scrollbar-width: 10px;
    scrollbar-color: green;
    font-family: popins, sans-serif;
    @apply bg-slate-900 text-white;
    
}


